<!DOCTYPE html>
<html ng-app="coinChatterApp">
	<head>
		<meta charset="utf-8">
		<title>Coin Chatter - OP_Return Bitcoin Blockchain Meta Data</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular-animate.js"></script>
    <script src="angularBTC.js"></script>
    <script src="emailhandler.js"></script>
    <link href="bootstrap.css" rel="stylesheet" type="text/css">
    <link href="btcspace.css" rel="stylesheet" type="text/css">
    <link href="animations.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="non-responsive.css" rel='stylesheet' type='text/css'> <!-- This is to stop the navbar from collapsing on mobile.  Not fully working yet. -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,100italic,300italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
	</head>
<body ng-controller="coinChatterCtrl">
  <div class="container">
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="btcspace.html">Coin Chatter</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Controls:</a></li>
            <li ng-show='!ticker' ng-click='liveUpdate()'><a href=""><i class="fa fa-play-circle"></i> Start Ticker</a></li>
            <li ng-show="ticker" ng-click='stopUpdate()' class='active'><a href=""> <i class="fa fa-stop"></i>Stop Ticker</a></li>
            
          </ul>
          <ul class='nav navbar-nav pull-right'>
            <li class='contact-us'><a href='contact.html'>Contact Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="jumbotron">
      <h1>Contact Us</h1>
      <p class="donations">Donatations appreciated: j1LDxWVyq3JU1vfeNZzMYFzBGAvFaZqXBBc</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <h2>Contact Info</h2>
        <h4><em>We want to be part of a new Bitcoin conversation, and we can't do that without you.   If you have something to say, let us know.</em></h4>
        <p>Our email is contact@coinchatter.info</p>
        <p>Feel free to follow us on Twitter or Facebook [TODO: INSERT LINKS]</p>
        <span class="contact-icons">
          <i class="fa fa-facebook-square"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-github"></i>
        </span>
      </div>

      <div class="col-md-6 col-md-offset-1">
      <form id="form" role="form"> <!-- action="php/sendmail.php" -->
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" placeholder="Name" />
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea name='message' class='form-control' rows='4' placeholder='Enter your message'></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <div id="formresponse" style="display:none;"></div>
    </div>
    </div>

  </div>
</body>
</html>
